<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">Início</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/tocatas">Tocatas</a>
        </li>
        <li class="breadcrumb-item">
            <a href="/tocatas/editar/{$tocata.id}">{$tocata.local}</a>
        </li>
        <li class="breadcrumb-item active">Lista de Chamada</li>
    </ol>
    <div class="card">
        <div class="card-header">
            Lista de Chamada
        </div>
        <div class="card-body">
            <form class="needs-validation" action="/tocatas/{$tocata.id}/chamada" method="post" novalidate>
                <div class="row text-muted">
                    <div class="col-12 col-md-4">
                        <p>Local: {$tocata.local}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>Data: {function="transform('Y-m-d', 'd/m/Y', $tocata.data_tocata)"}</p>
                    </div>
                    <div class="col-12 col-md-4">
                        <p>Horário: {$tocata.horario}</p>
                    </div>
                </div>
                <h6 class="custom-border">Componentes</h6>
                <div class="row">
                    {loop="$presencas"}
                    <div class="form-group col-12 col-lg-6">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="componente_{$value.componente_id}"
                                id="componente_{$value.componente_id}">
                            <label for="componente_{$value.componente_id}" class="custom-control-label"
                                title="Marcar componente como presente">{$value.nome}</label>
                        </div>
                    </div>
                    {/loop}
                </div>
    
                <button type="submit" class="btn btn-success float-right" title="Salvar lista de chamada">
                    <i class="fas fa-fw fa-check"></i> Confirmar</button>
            </form>
        </div>
        <div class="card-footer"></div>
    </div>