<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Início</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/tocatas">Tocatas</a>
    </li>
    <li class="breadcrumb-item">
        <a href="/tocatas/editar/{$tocata.id}">{$tocata.local}</a>
    </li>
    <li class="breadcrumb-item active">Lista de Chamada</li>
</ol>
<div class="card">
    <div class="card-header">
        Lista de Chamada
    </div>
    <div class="card-body">
        <form class="needs-validation" action="/tocatas/{$tocata.id}/chamada" method="post" novalidate>
            <div class="row text-muted">
                <div class="col-12 col-md-4">
                    <p><span class="badge badge-info">Local:</span> {$tocata.local}</p>
                </div>
                <div class="col-12 col-md-4">
                    <p><span class="badge badge-info">Data:</span> {function="transform('Y-m-d', 'd/m/Y', $tocata.data_tocata)"}</p>
                </div>
                <div class="col-12 col-md-4">
                    <p><span class="badge badge-info">Horário:</span> {$tocata.horario}</p>
                </div>
            </div>
            <h6 class="custom-border">Componentes ({function="count($componentes)"})</h6>
            <div class="row">
                {loop="$componentes"}
                <div class="form-group col-12 col-lg-6">
                    <div class="custom-control custom-checkbox presence">
                        <input type="checkbox" class="custom-control-input" name="componente_{$value.id}" id="componente_{$value.id}">
                        <label for="componente_{$value.id}" class="custom-control-label" title="Marcar componente como presente">{$value.nome}</label>
                        <i class="fas fa-file-signature clickable justify-fault" title="Justificar uma falta"></i>
                        <i class="far fa-clock clickable later" title="Marcar meio-pingo"></i>
                    </div>
                </div>
                {/loop}
            </div>
            <input type="hidden" name="justificativas" id="justificativas">
            <input type="hidden" name="atrasos" id="atrasos">
            <hr>
            <button type="submit" class="btn btn-success float-right" title="Salvar lista de chamada">
                <i class="fas fa-fw fa-check"></i> Salvar</button>
        </form>
    </div>
    <div class="card-footer"></div>
</div>