<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sistema Gerenciador de Bandas Filarmônicas">
  <meta name="author" content="mrclgst10@gmail.com">
  <meta name="theme-color" content="#343A40">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
  <meta http-equiv="content-language" content="pt-br">
  <title>Nossa Banda | Recuperar a senha</title>
  <link rel="icon" type="image/png" href="assets/images/icon/48px">
  <link rel="manifest" href="manifest.json">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Recuperar senha</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Esqueceu a senha?</h4>
          <p>Digite seu e-mail abaixo e receberá instruções sobre como alterar sua senha.</p>
        </div>
         <!-- Alert Message -->
         {if="isset($message.message)"}
         <div class="alert alert-{$message.type} alert-dismissible fade show" role="alert">
             {$message.message}
             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
         </div>
         {/if}
        <form class="needs-validation" action="/recuperar-senha" method="POST" novalidate>
          <div class="form-group">
            <div class="form-label-group">
              <input type="email" id="email" class="form-control" placeholder="Enter email address"
                required="required" autofocus="autofocus" name="email">
              <label for="email">E-mail para recuperação</label>
            </div>
            <div class="invalid-feedback">Este campo deve ser preenchido!</div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Enviar e-mail</button>
        </form>
        <div class="text-center">
          <!-- <a class="d-block small mt-3" href="register.html">Register an Account</a> -->
          <a class="d-block small mt-3" href="/login">Fazer login</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>