<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sistema Gerenciador de Bandas Filarmônicas">
  <meta name="author" content="mrclgst10@gmail.com">
  <meta name="theme-color" content="#343A40">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
  <meta http-equiv="content-language" content="pt-br">
  <title>Nossa Banda | Erro ao enviar e-mail</title>
  <link rel="icon" type="image/png" href="assets/images/icon/48px">
  <link rel="manifest" href="manifest.json">

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="/assets/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

    <div class="container">
        <div class="card text-white bg-danger mt-5 mx-auto text-center" style="max-width: 28rem;">
            <div class="card-header">Opa...</div>
            <div class="card-body">
                <h5 class="card-title">Link inválido!</h5>
                <p class="card-text">Parece que você está tentando acessar um link inexistente! Em caso de dúvidas, entre em contato com o administrador.</p>
                <a href="/login" class="btn btn-outline-light btn-block">Voltar para Login</a>
            </div>
        </div>
    </div>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>