<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Sistema Gerenciador de Bandas Filarmônicas">
  <meta name="author" content="mrclgst10@gmail.com">
  <meta name="theme-color" content="#343A40">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="#FFF">
  <meta http-equiv="content-language" content="pt-br">
  <title>Nossa Banda | Recuperar senha</title>
  <link rel="icon" type="image/png" href="assets/images/icon/48px">
  <link rel="manifest" href="manifest.json">

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="assets/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Alterar senha</div>
      <div class="card-body">
        <div class="text-center mb-4">
          <h4>Alteração de senha</h4>
          <p>Olá, {$name}, digite sua nova senha abaixo.</p>
        </div>
        <form class="needs-validation" action="/resetar-senha" method="POST" novalidate>
            <input type="hidden" id="code" name="code" value="{$code}">
          <div class="form-group">
            <div class="form-label-group">
              <input type="password" id="password" class="form-control" placeholder="Digite a nova senha..."
                required="required" autofocus="autofocus" name="password">
              <label for="password">Nova senha:</label>
            </div>
            <div class="invalid-feedback">Este campo deve ser preenchido!</div>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Alterar senha</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>