<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Início</a>
    </li>
    <li class="breadcrumb-item active">Tocatas</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Tocatas</div>
    <div class="card-body">
        <div class="row justify-content-md-end">
            <div class="col-12 col-md-6 mb-2">
                <!-- <div class="col col-md-4 col-lg-4"> -->
                <a href="/tocatas/cadastrar" class="btn btn-primary" role="button"
                    title="Clique para adicionar uma tocata">
                    <i class="fas fa-plus"></i> Adicionar</a>
                    <a href="#" class="btn btn-outline-info" role="button"
                    title="Clique para gerar uma folha com as faltas dos componentes">
                    <i class="fas fa-file-invoice-dollar"></i> Faltas</a>
            </div>
            <div class="col-12 col-md-6">
                <!-- <div class="col offset-md-2 col-md-6 offset-lg-4 col-lg-4"> -->
                <div class="input-group mb-2">
                    <input type="text" id="searchField" class="form-control" title="Digite para fazer uma pesquisa"
                        arial-label="search field" placeholder="Procurar..." aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Observações</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th class="no-sort"></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Observações</th>
                        <th>Local</th>
                        <th>Data</th>
                        <th>Horário</th>
                        <th></th>
                    </tr>
                </tfoot>
                <tbody>
                    {loop="$tocatas"}
                    <tr class="clickable" style="cursor: pointer;" data-href="/tocatas/editar/{$value.id}"
                    title="Clique para alterar o registro">
                        <td>{$value.observacoes}</td>
                        <td>{$value.local}</td>
                        <td>{function="transform('Y-m-d', 'd/m/Y', $value.data_tocata)"}</td>
                        <td>{$value.horario}</td>
                        <td>
                            <a href="#" title="Remover registro" data-link="/tocatas/delete/{$value.id}" data-toggle="modal" data-target="#confirmDeleteModal" class="btn btn-danger btn-sm"><i
                                class="fas fa-trash-alt"></i> Remover</a>
                            <a href="/tocatas/{$value.id}/chamada" title="Abrir lista de chamada" class="btn btn-info btn-sm"><i
                                class="fas fa-tasks"></i> Fazer chamada</a>
                        </td>
                    </tr>
                    {/loop}
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>